@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Kavivanar|Cutive+Mono|Nova+Cut|Overpass+Mono|Share+Tech+Mono');
body, html {
	margin: 0;
	padding: 0;
	/* background-color: #f4f4f4; */

	max-width: 1500px;
	margin: auto;

}
html {
	height: 100%;
}
nav {

	background-color: #f4f4f4;
	padding: .5% 2%;
}
a, p, li {
	text-decoration: none;
	color: black;
	font-family:'Cutive Mono', helvetica sans-serif ;
}
ul {
	padding: 0;
	 list-style-type: none;
}
li {
	margin: 1em 0;
}
h1 {
	font-family:'Cutive Mono', helvetica sans-serif ;
}
h1 {
	margin:6.5px 0;
}

main {
	margin-top: 59px;
	/* background-color: pink; */
	min-height: calc(100vh - 169px);

}

footer {
	height: 110px;
	background-color:  #f4f4f4;
	text-align: center;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}



/* NAV MENU ======================= */

nav a, h1 {
	background-color: white;

}

nav a {
	box-shadow: #cccccc 1px 1px 1px ;
}
.nav-box a {
	display: inline-block;

	vertical-align: bottom;


	/* width: 30%; */
}


.nav-h1 {
	font-size: 2em;
	padding-right: 10px;
	padding-left: 5px;
	/* margin-right: 65px; */
}
.nav-a {

	font-size: 1em;
	padding: 16px 7px;
	/* margin-right: 15px; */
}

/*PARALAX WINDOW jquery ================== */
.parallax-window {
	/* min-height: 200px; */
	background: transparent;
	z-index: 300;
}
.iframe-marg {
	margin: 10% 0 20% 0;

}

.parallax-marg {
	margin: 12% 0;

}



/*containers ================== */
.container{
	/* background-image: url(img/zeemo-back.jpg); */
	background-size: 400px;
	background-position: left;
	display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
	text-align: justify;
	padding: 0 2%;
	}

.container-2{

	display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 40px; */

}

.container3 {
	/* background-image: url(img/zeemo-back.jpg); */
	/* background-size: 300px; */

	background-position: left;
	display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 40px; */
  grid-auto-rows: minmax(100px, auto);
	text-align: justify;
	padding: 0 8%;

	}

	.container4 {
		background-image: url(img/compute1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		/* background-size: 400px; */

		display: grid;
	  grid-template-columns: repeat(1, 1fr);
	  /* grid-gap: 40px;
	  grid-auto-rows: minmax(100px, auto); */
		text-align: justify;
		/* padding: 0 2%; */
		}

.container-gallery {
	/* background-image: url(img/zeemo-back.jpg); */
	background-size: 300px;
	background-position: left;
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 40px; */
  /* grid-auto-rows: minmax(100px, auto); */
	text-align: justify;
	margin: auto;
	padding: 0 0;
	}


.container3 .text2, .container3 .text3 {
	/* background-color: white; */
}

.item-pad {
	margin: auto;

	padding: 4%;
	max-width: 350px;
}



.white-bk {
	/* font-size: 1.2em; */
	background-color: white;
	/* text-decoration: line-through;
	text-decoration-color: red; */
}

.text {

	grid-column: 1 / 1;
  grid-row: 1;
	margin: auto;
}


.img-col {
	width: 100%;
	margin-bottom: -5px;
}

.text-col {
	padding: 3% 6% 0 6%;
	width: 90%;
}

/* =====cards===== */
.over {
display: none;
}
.overlay {
	padding: 5%;
	font-size: 2.9em;
	font-family: 'Cutive Mono';
	text-shadow: white 1px 1px 12px,
	 						 white -1px -1px 12px,
							 white -13px -13px 19px,
							 white -19px -19px 42px,
							 white 21px 21px 12px;
	height: 37.19%;
	margin: 0;
	text-transform: uppercase;
	overflow: none;
	text-align: justify;
	position: absolute;
	z-index: 2;
	opacity: 0;
}
.myframes {
	animation-name: myframes;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes myframes {
  from {
    opacity: 0;
	}

  to {

    opacity: 1;
	}
}

.myframes2 {
	animation-name: myframes;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 7;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes myframes2 {
  from {
    opacity: 1;
	}

  to {

    opacity: 0;
	}
}

.p-background {
	max-width: 700px;
	box-shadow: #473b0a 1px 7px 13px -4px,
						  #82712d 4px  9px 20px -5px;
}

 .vid {
	 grid-column: 1 /1;
   grid-row: 1;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}



 .vid iframe {
	position: absolute;

	width: 100%;
	height: 100%;
}

.mixx {
	margin: -5px 0;
}


.web-des {
	background-color: black;

}
.web-des p {
	background-color: white;
}

.mainbody {


	/* text-align: center; */
	padding-left: 2%;
	line-height: .5;
}



.player {
	height: 600px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;


}

#img {
display: block;
margin: auto;
max-width: 300px;
padding-top: 20px;


}
#button {
	/* display: block; */
	/* text-align: center; */
	padding: 1%;
	color: #ff5959;
	/* border-color: #751100; */
	background-color: #ffd059;
	border-radius: 5%;
	font-family:'Cutive Mono', helvetica sans-serif ;
	font-size: 1em;

	margin-top: 20px;

}


#backPic {


	text-align: center;
}


/* #backPic p {
	background-color: black;
	color: white;

} */
/* ====================  */
/* sticky menu bar */
#uberbar    {
	max-width: 1439px;
     margin: auto;
    /*border-bottom:1px solid #d8d8d8; */
    /* background: white; */
		/* background-color: #e5e5e5; */
		background-color: #f4f4f4;
    /* padding:10px 20px; */
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index:2000;
    width: 100%;
    margin: auto;
    /* background-color: coral; */

}

/* ================ */
/* FOOTER FOOTER */


#parent {
	display: table;
	width: 100%;

}

#child {
	display: table-cell;
	vertical-align: middle;
}
.link-png {
	height: 15px;
	padding: 5px;
	opacity: .8;
	/* display: inline-block; */

	vertical-align: text-bottom;

}

#exception {
	text-decoration: none;
	background-color: white;
}
/* Image Slider  */


/* MEDIA QUERIES ================ */

@media (max-width: 769px) {
	.navnav {
		display: block;
		margin-right: 590px;
	}
	.nav-a {
		display: inline;
		margin: 0;
		padding: 5px;

		vertical-align: bottom;
		/* width: 30%; */
	}

nav {
	/* padding-right: 210px; */
}

h1, a {
	/* margin: 0; */
}

main {
	margin-top: 80px;
}
.container-gallery {
	grid-template-columns: repeat(1, 1fr);
}
#img {
	max-width: 250px;
	padding-top: 3%;
	/* max-width: 500px; */
}



}

@media (max-width: 500px) {
	.nav-a {
		font-size: 0.9em;
	}
	#img {
		max-width: 250px;
		padding-top: 3%;
		/* max-width: 500px; */
	}
	#button {

		/* margin-top: 150px; */
	}



}

@media (max-width: 298px) {

	.nav-a {
		font-size: 0.7em;
	}
}
